

<div class="contenedor">

  <h1 id="contacto">Contactanos!</h1>

  <div class="items">

    <mat-form-field>
      <input matInput type="text" placeholder="Nombre">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="Apellido">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" placeholder="Email">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Enviar</button>

    <div class="item_hijo">

      <img src="https://www.orbit.com.ar/assets/utils/logo-orbit.svg" alt="" srcset="">

    </div>


  </div>

</div>
