.contenedor{
  background-color: #8E8988;
  display: flex;
  flex-grow: column wrap;
  padding: 50px;
  gap: 23rem;

}
h1{
  text-align: center;
  width: 100vw;
  background-color: #8E8988;
  margin: 0;
  padding: 15px 0;
}


.items {
  display: flex;
  color: #ddd;
  align-items:center;
  justify-content: flex-end;
  flex-flow: column wrap;
  gap: 3rem;
  padding: 30px;
}


.item_hijo{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  order: -1;
}
