
<div class="container">
  <h2>Create Movie</h2>
  <mat-form-field appearance="fill">
    <mat-label class="title" for="name">Title</mat-label>
    <input matInput class="titleclass" [formControl]="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Popularity" class="popularity">
  </mat-form-field>

  <button mat-raised-button color="warn" type="submit">Send</button>
</div>
