
<div class="container">
  <h2>Edit Movie</h2>
  <mat-form-field appearance="fill">
    <mat-label class="title">Title</mat-label>
    <input matInput name="original_title" [(ngModel)]="original_title" minlength="5">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="overview" minlength="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Popularity" class="popularity" [(ngModel)]="popularity">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label class="title">Realese Data </mat-label>
    <input matInput name="realese_date" [(ngModel)]="realese_date" minlength="5">
  </mat-form-field>

  <button mat-raised-button color="warn"(click)="onEdit()" [routerLink]="['']">Send</button>
</div>
