
<mat-toolbar class="navbar">
  <span class="logo"><a href="/">MERCADO</a></span>
  <span class="example-spacer"></span>
  <ul class="menu_items" >
    <li><a href="/productos">Productos</a></li>
    <li><a href="/historia">Historia</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>

</mat-toolbar>

<router-outlet></router-outlet>


<footer class="md-padding">
  <div id="btmFooter" flex>
    <p>Mercado 2022 Copyright © Todos los derechos reservados <br><br><a href="/productos">Products</a> - <a href="/contacto">Contact us</a> </p>
  </div>
</footer>
