<div class="container">
  <mat-card class="example-card" *ngFor="let item of pelisPopulares">
    <mat-card-title-group>
      <mat-card-title>{{item.original_title}}</mat-card-title>
      <mat-card-subtitle>
        {{item.release_date}}
      </mat-card-subtitle>
      <img mat-card-md-image src="https://image.tmdb.org/t/p/w185/{{item.poster_path}} ">
    </mat-card-title-group>
    <mat-card-content>
      <!-- Aca va la descripcion de la pelicula -->
      {{item.overview | slice: 0 : 100}}
    </mat-card-content>
    <button mat-raised-button color="primary"><a [routerLink]="['/descripcion', item.id]">Ver Mas</a></button>
    <button mat-fab color="warn" aria-label="Example icon button with a delete icon" id="button_delete" (click)="onDelete(item.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab color="warn" aria-label="Example icon button with a delete icon" id="button_edit" (click)="onEdit(item.id)">
      <mat-icon><a [routerLink]="['/edit', item.id]">edit</a></mat-icon>
    </button>
  </mat-card>
</div>
